#JAVA
# Compiled class file
*.class
*/build/
*/out/
*/history/

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

#INTELLIJ IDEA
# User-specific stuff:
*.iml
out/

#Serenity
*/target/
build/

#gradle
*/.gradle/
build/
history/
bin/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store